html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body,
input,
button {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: inherit;
}

input {
  width: 100%;
  margin: 0 0 1em 0;
}

a {
  color: #00b7ff;
}

h1,
h2,
h3 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.4em 0.8em;
}

tr:not(:first-child):not(:last-child):hover {
  cursor: pointer;
  background-color: lightgrey;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.borderTop {
  border-top: 1px solid black;
}

.borderBottom {
  border-bottom: 1px solid black;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 0.6rem;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

header > * {
  flex: 1;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.4em 0.2em 0.2em 0.2em;
  line-height: 1.5em;
  cursor: pointer;
}

section {
  padding: 4em 1em 1em 1em;
  overflow: auto;
}

#startStop {
  display: block;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0 auto;
}

#workList {
  margin: 0 auto;
}

/* Register update work */
form {
  max-width: 22rem;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.mb-l {
  margin-bottom: 2em;
}

.addBtn {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  font-size: 25px;
  border: 1px solid grey;
  background-color: #c8fbf5;
  box-shadow: 2px 2px 2px lightgrey;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
}

.actionButtons > button {
  padding: 0.2em 0.5em;
}

.actionButtons__delete {
  background-color: #cf2b2b;
  margin-right: auto;
}
.actionButtons__cancel {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.settingsButton {
  height: 1.5em;
  width: 1.5em;
  float: right;
  margin-right: 1.5em;
  border: none;
  background-image: url(/images/settings.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  padding: 0.3em;
}