extends layout

block content
  h1 Workhours
  p Look at those hours stack up!

  form(name=registerHours, method='POST', action='/register')
    div
      label Start date
      input(name='startDate', type='date', value='2007-08-04')
      label Start time
      input(name='startTime', type='time', value=startTime)
    div
      label End date
      input(name='endDate', type='date', value=endDate)
      label End time
      input(name='endTime', type='time', value=endTime)
    div
      button submit
