extends layout

block content
  h1 Workhours
  p Look at those hours stack up!

  form(name=registerHours, method='POST', action='/register')
    div
      label(for='startDate') Start date
      input(name='startDate', id='startDate', type='date', value=startDate)
      label(for='startTime') Start time
      input(name='startTime', id='startTime', type='time', value=startTime)
    div
      label(for='hours') Hours
      input(name='hours', id='hours', type='number', value=hours)
    div
      button submit
