html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

header {
  text-align: center;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

section {
  padding: 1em;
  text-align: center;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  text-transform: uppercase;
}

nav ul li {
  flex: 1 1 100%;
  text-align: center;
}

nav a {
  display: block;
  background-color: lightgray;
  color: black;
  padding: 1.2em 0;
  text-decoration: none;
  font-size: 1.6em;
  border: 1px solid black;
}

nav a:hover {
  background-color: darkgray;
  color: white;
}

#startStop {
  font-size: 2em;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 5px black;
  background-color: lightgray;
}

#startStop:hover {
  background-color: darkgray;
  box-shadow: 2px 2px 3px black;
}

#workList {
  margin: 0 auto;
}
